<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AddressBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <AddressBook.Properties.Settings>
            <setting name="GroupName" serializeAs="String">
                <value>mail</value>
            </setting>
            <setting name="showWithPhoneEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showCopyRight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showReload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filter" serializeAs="String">
                <value>(&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(|(telephoneNumber=*)(mail=*)))</value>
            </setting>
            <setting name="ManagerGroup" serializeAs="String">
                <value>hr-managers</value>
            </setting>
            <setting name="ShowMidName" serializeAs="String">
                <value>False</value>
            </setting>
        </AddressBook.Properties.Settings>
    </userSettings>
</configuration>
